<h1>Login</h1>
<form action="/login" method="post">

    <input type="text"name="username" placeholder="User name">
    <input type="password" name="password" placeholder="Enter password">

<button type="submit" class="btn">Login In</button>
</form>