body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00b7ff;
}

.btn {
  text-decoration: none;
  color: white;
  font-size: large;
  font-weight: bold;
  background-color: blueviolet;
  padding: 16px;
  position: absolute;
  margin: 16px;
  border-radius: 12px;
}
